{% if fields.show == "select" %}
	{% set post_to_show = fields.selected_news_list  %}
{% else %}
	{% set post_to_show = posts  %}
{% endif %}
<section class="bp-block bp-cards {{block.name}} {{block.className}} align{{block.align}}" style="background-color:{{fields.block_color}}">
	<ul class="grid--auto-c">
		{% for post in fields.all_posts %}
			<li>
				{% if post.thumbnail %}
					<img {{post.thumbnail|get_timber_image_responsive('news') }}>
				{% endif %}
				<div class="content">
					<a href="{{post.link}}">
						<h3>{{post.post_title}}</h3>
					</a>
					<div class="excerpt">
						{{ post.preview.length(30).read_more('') }}
					</div>
					<a class="readmore" href="{{post.link}}">Läs mer</a>
				</div>
			</li>
		{% endfor %}
	</ul>
</section>
